<div class="page-header">
  <h1><%=t '.title' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Request.human_attribute_name(:name) %></th>
      <th><%= Request.human_attribute_name(:requester) %></th>
      <th><%= Request.human_attribute_name(:url) %></th>
      <th><%= Request.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.name, request_path(request) %></td>
        <td><%= request.requester.full_name_with_institute %></td>
        <td>
          <% unless request.url.blank? %>
            <%= link_to request.url do %>
              <i class='icon-external-link'></i>
            <% end %>
          <% end %>
        </td>
        <td><%= time_ago_in_words request.created_at %></td>
        <td>
          <% if can? :update, request %>
            <%= link_to t('.edit', default: t("helpers.links.edit")), edit_request_path(request), class: 'btn btn-mini' %>
          <% end %>
          <% if can? :destroy, request %>
            <%= link_to t('.destroy', default: t("helpers.links.destroy")), request_path(request), method: :delete, data: { confirm: t("helpers.links.confirm") }, class: 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_request_path, :class => 'btn btn-primary' %>
